<hr>
	<h3>Reviews</h3>
	<ul class="list-group">
		{% for review in reviews %}
			<li class="list-group-item pb-3 pt-3">
				<h5 class="card-title">
					Review by {{ review.user.username }}
				</h5>
				<h6 class="card-subtitle mb-2 text-muted">
					{{ review.date }}
				</h6>
				<p class="card-text">
					{{ review.text }}
				</p>
				{% if user.is_authenticated and user == review.user %}
					<a class="btn btn-primary me-2" href="{% url 'updatereview' review.id %}">Update</a>
					<a class="btn btn-danger" href="{% url 'deletereview' review.id %}">Delete</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>